/.idea
*.iml
/target
*.class
.*.swp
taskmarket.zenta.bak
taskmarket.compiled
taskmarket.consistency.stderr
taskmarket.consistencycheck
taskmarket.docbook
taskmarket.html
taskmarket.objlist
taskmarket.objlist.html
taskmarket.pdf
taskmarket.pics/
taskmarket.rich
taskmarket.richescape
taskmarket.tabled.docbook
taskmarket.tabled.html
taskmarket/
issuesReport.json
zentaworkaround
