<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>remoteAuthenticationFilter</filter-name>
		<filter-class>com.kodekonveyor.authentication.RemoteAuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>remoteAuthenticationFilter</filter-name>
		<url-pattern>/member/*</url-pattern>
	</filter-mapping>
</web-app>